
h2{
color:green;
text-align:left;
text-decoration:underline;
text-decoration-color:black;
text-decoration-style:dotted;
text-indent:15;
text-transform:uppercase;
text-shadow:12px 12px 12px yellow;
letter-spacing:12px;
line-height:20px;
}
h3{
color:blue;
text-align:left;
text-decoration:overline;
text-decoration-color:red;
text-decoration-style:wavy;
text-indent:50;
text-transform:lowercase;
letter-spacing:12px;
}
p{
color:red;
text-align:justify;
text-decoration:line-through;
text-decoration-color:green;
text-decoration-style:double;
text-indent:100;
text-transform:capitalize;
letter-spacing:12px;
}	